{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign in" %}{% endblock %}

{% block content %}

<div class="container mx-auto" style="max-width: 1240px; height: 100%;">
    <div class="d-flex"  style="height: 100%" >
        <div class="my-auto ml-auto mr-5 p-4" style="background-color: #23272A; color: #e7e7e7; min-width: 300px">
            <h2 class="text-center">Вход</h2>
            <p class="text-center">Нет аккаунта? <a href="{{ signup_url }}">Создать</a></p>
      <form class="login"  style="font-size: 15px" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="errorText">{{ form.errors }}</div>
                <div class="mb-3">
                    <div >{{ form.login.label }}</div>
                    {{ form.login }}
                </div>
                <div  class="mb-4">
                    <div >{{ form.password.label }}</div>

                    {{ form.password }}
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center">
                    <button type="submit" class="button p-1 text-center" style="font-size: 16px; background-color: #0fb366; width: 50% ">
                        Продолжить
                    </button>
                </div>
            </form>
        </div>
        {% load static %}
        <img src="{% static 'pics/plane.svg' %}" class="my-auto ml-5" style="opacity:0.7"width="auto" height="65%" >
    </div>
    <script>
        $('#id_login')[0].classList.add('form-control-sm')
        $('#id_login').css("width", "100%");
        $('#id_password')[0].classList.add('form-control-sm')
        $('#id_password').css("width", "100%");
    </script>
</div>

{% endblock %}
