{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div align="center">
  <h1 style="color: #e7e7e7;">{% trans "Выход" %}</h1>

  <p style="color: #e7e7e7;">{% trans 'Вы действительно хотите выйти?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button type="submit" class="btn" style="background-color: #dc3545; color: #e7e7e7">{% trans 'Выйти' %}</button>
    <button type="button" class="btn" onclick="relocate_back()" style="background-color: #0fb366; color: #e7e7e7">{% trans 'Вернуться назад' %}</button>
    <script>
      function relocate_back() {
        location.href = "/lobby/";
      }
    </script>
  </form>
</div>


{% endblock %}
