
{% if lobby  %}
<div class="modal modal" id="showPwd" tabindex="-1" role="dialog" aria-labelledby="..." aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered"  role="document">
        <div class="modal-content " style="background-color: #2C2F33;" >
            <div class="d-flex ">
                {% load static %}
                <img src="{% static 'pics/space.svg' %}"  style="opacity: 1;" width="50%">
                <div class="my-auto ml-3 p-3" id="errorJoinLobbyBlock">
                    <h1 style="color:  #e7e7e7" class="mb-4">
                        Это пароль к вашему лобби!
                    </h1>
                    <div class="d-flex">
                        <h3 style="color: #6c63ff">{{lobby.lobby_password}}</h3>
                        <a href="/lobby/{{lobby.id}}/"><h3 class="ml-4" style="color: #c91c3b;">ОК</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $("#showPwd").modal("show")
</script>
{% endif %}
<input class="form-control-lg mb-3" id="createLobbyInput" style="width: 100%;" type="text" placeholder="Введите название нового лобби">
<button type="button" onclick="createLobby()" class="button p-2 text-center" style="background-color: #0fb366; width: 100%; font-size: 16px">
    Создать лобби
</button>